{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column min-vh-100">
    <main class="container py-5 flex-grow-1">
        <section class="card card-body">
            <h1>VitalFlow</h1>
            <p>En VitalFlow, conectamos a las personas con los mejores entrenadores personales, adaptados a sus objetivos de salud y bienestar. Nuestra plataforma te permite encontrar, contratar y trabajar con profesionales altamente calificados, todo desde la comodidad de tu hogar o gimnasio favorito. Con un enfoque en la personalización y resultados, facilitamos tu camino hacia una vida más activa y saludable.</p>

                Lema:
                "VitalFlow: Transforma tu bienestar, un entrenamiento a la vez."
            
        </section>
    </main>

    <footer class="bg-dark text-white text-center py-4">
        <div class="container">
            <p>&copy; 2024 <strong>VitalFlow</strong>. Todos los derechos reservados.</p>
            <p>
                <a href="#" class="text-white text-decoration-none mx-2">Política de privacidad</a> | 
                <a href="#" class="text-white text-decoration-none mx-2">Términos de servicio</a> | 
                <a href="#" class="text-white text-decoration-none mx-2">Contacto</a>
            </p>
            
        </div>
    </footer>
</div>
{% endblock %}
